PROJECT_NAME=ny_taxi_pipeline
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_PORT=5432

(Esto es momentaneo para guardar esta funcion)
def _export_zone_lookup(connection, zone_df: pd.DataFrame):
    """Zone Lookup: siempre reemplazar (es referencia estática pequeña)."""
    connection.execute(text("DROP TABLE IF EXISTS bronze.taxi_zone_lookup;"))

    zone_df.to_sql(
        name='taxi_zone_lookup',
        con=connection,
        schema='bronze',
        if_exists='replace',
        index=False,
    )
    print(f"[OK] zone_lookup → {len(zone_df):,} filas")